ASP.NET/EmployeeService/EmployeeClient/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EmployeeService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EmployeeService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Employee" nillable="true" type="tns:Employee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployee" nillable="true" type="tns:ArrayOfEmployee" />
  <xs:complexType name="Employee">
    <xs:sequence>
      <xs:element minOccurs="0" name="Desig" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Did" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Eid" type="xs:int" />
      <xs:element minOccurs="0" name="Ename" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProfilePic" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sal" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="hiredate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Employee" nillable="true" type="tns:Employee" />
</xs:schema>